@import "bootstrap";
// Place all the styles related to the admin/emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .content {
    width:400px;
    height:auto;
    background:#0CF;
    margin:0 auto;
   }