<h3>List of e-mails</h3>
<br> <!-- TODO: Use margins instead brs -->
<ul class="list-group">
  <% if !@emails.blank? %>

    <% for item in @emails %>
      <!--TODO: Replace this with semantically right markup-->
      <li class="row-fluid">
        <span class="email-box">e-mail</span>
        <span class="invert"><%= item.emailtext %></span>
        
      </li>
			
    <% end %>
  <% else %>

  <% end %>
</ul>