<h2>List of e-mails</h2> <br>
<ul class="list-group">
<% if !@emails.blank? %>

  <% for item in @emails %>
<table class="table table-bordered">
    <tr><td>e-mail</td>
<td><%= item.emailtext %></td></td></tr></table>
  <% end %>
  <% else %>
  
  <% end %></ul>