<h3>List of e-mails</h3>
<br> <!-- TODO: Use margins instead brs -->
<div class="list-group">
  <% if !@emails.blank? %>

    <% for item in @emails %>
      <!--TODO: Replace this with semantically right markup-->
      <table class="table">
        <span class="email-box">e-mail</span>
        <span class="invert"><%= item.emailtext %></span>
        <br>
      </table>
    <% end %>
  <% else %>

  <% end %>
</div>