<h3>List of e-mails</h3> <br>
<div class="list-group">
<% if !@emails.blank? %>

  <% for item in @emails %>
<table class="table">
    <span class="email-box">e-mail</span>
<span class="invert"><%= item.emailtext %></span></table>
  <% end %>
  <% else %>
  
  <% end %></div>