@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background: #f3f3f3;
}
.container-fluid {
	width:285px;
	height:auto;
	background:#cfe2f3;
	margin:20px auto;
	text-align: center;
	border: 2px solid;
}
.container-fluid h1 {
  padding: 26px 0 26px 0;
}
.container-fluid h3 {
	font-weight: normal;
}
.link_new_email {
	text-align:center;
	display: block;
}
.container-fluid tbody tr {
	background: #fff;
	border-radius: 0;
}
.container-fluid .table-bordered  {
	border: 1px solid #000;
}
.row-fluid .span3 {
	width: 100%;
	text-align: center;
}
.invert {
	position:relative;
}
.invert:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #ffffff;
	position: absolute;
	right: 114px;
	top: 2px;
	-moz-border-top-colors: transparent;
}
.invert:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid #000;
	position: absolute;
	right: 112px;
	-moz-border-top-colors: transparent;
	top: 0px;
}
.list-group .invert:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 16px solid #000;
	position: absolute;
	right: -15px;
	-moz-border-top-colors: transparent;
	top: -2px;
}
.list-group .invert:after {
	content: "";
	display: block;
	width: 0;
	/* height: 0; */
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #ffffff;
	/* position: absolute; */
	right: -13px;
	top: 0px;
	-moz-border-top-colors: transparent;
}
.list-group .invert {
	position: relative;
	float: left;
	height: 28px;
	border: 2px solid #000;
	border-right: 0px;
	padding: 0 6px 0 6px;
	line-height: 26px;
	background: #fff;
	min-width: 200px;
}
.list-group {
	width: 280px;
	margin: 0 auto;
}
.list-group li {
  list-style-type: none;
}
.table {
  margin-bottom: 2px;
}
noindex:-o-prefocus, .invert:after {
	right: 115px;;
}
.right {
	margin-left: 45px;
}
.row-fluid input[type="text"] {
	border: 2px solid #000;
	border-right: 0px;
	border-radius: 0;
}
#new_email > span {
	width: 39px;
	float: left;
	height: 28px;
	vertical-align: middle;
	background-color: #fff;
	margin-right: 0px;
	padding-right: 0px;
	right: 20px;
	border: 2px solid #000;
	border-right: 0px;
	padding: 0 6px 0 6px;
	line-height: 26px;
	white-space: nowrap;
}
.email-box  {
	width: 39px;
	float: left;
	height: 28px;
	background-color: #fff;
	border: 2px solid #000;
	border-right: 0px;
	padding: 0 6px 0 6px;
	line-height: 26px;
	white-space: nowrap;
}
h3 {
	text-align: center;
}
